/* This is the stylesheet used on my website 'alexandertoop.com' */

body {
	/* Font can be aquired from Google Fonts */
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	/* Light grey background */
	background-color:#f6f6f6 ;
}

/* Makes it so that links have a uniform look that does not change when 
the links are followed */
a {
	text-decoration: none;
}
a:link, a:visited {
	color: blue;
}
a:hover {
	color: red;
}

.nav {
	background-color:#595959;
	color: #ffffff;
	list-style: none;
	text-align: center;
	padding: 20px 0 20px 0;
	margin-top: 0px;
}

/* The following format the navigation section */
.nav > li {
	display:inline-block;
	padding-right: 50px;
}

.nav > li > a:link {
	/* Having no decoration gets rid of the underline etc. */
	text-decoration:none;
	color:#ffffff;
}

.nav > li > a:visited {
	/* When link is visited, it is not changed for the user */
	text-decoration:none;
	color:#ffffff;
}

.nav > li > a:hover {
	/* Sets a hover event for the text */
	text-decoration:none;
	color:#c1c1c1;
}


#wrapper {
	/* Effectively gives me a box in the middle of the page to work on */
	width:768px;
	margin-left: auto;
	margin-right: auto;
}


#header {
	color:black;
	text-align:center;
	padding:5px;
}


#section {
	margin:0px;
}


.left {
	width:49%;
	float:left;
}

.right {
	width:49%;
	float:right;
}


#embeded_pdf {
	padding-bottom: 20px;
	text-align: center
}


#about_section {
	float:left;
}


#centered_text{
	text-align: center;
}


/* Sets the attributes of the headers */
h1 {
	font-size: 40px;
	font-family: 'Josefin Sans', sans-serif;
}

h2 {
	font-size: 24px;
	font-family: 'Josefin Sans', sans-serif;
}

h3 {
	font-size: 18px;
}


.img1 {
	width: 96%;
	height: auto;
	text-align: center;
}

.img2 {
	width: 60%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}

.img3 {
	width:100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding-bottom: 10px;
}

.img4 {
	width:100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding-bottom: 25px;
}


.icons {
	display: inline-block;
	width:100%;
}


.social-links{
	margin-left: -28px;
}

.social-links li{
	display: inline-block;
	text-align: center

}

.social-links li a{
	margin-top: 10px;
	display: inline-block;
	width: 45px;
	height: 45px;
	border: 4px solid #444444;
	font-size: 20px;
	line-height: 50px;
	background-color: #ececec;
	margin-left: 13px;
}
.social-links li a:hover{
	color: #fff;
	background-color: #d7d7d7;
}

.social-links li a:link{
	color: black;
	text-decoration: none;
}

.social-links li a:visited{
	color: black;
	text-decoration: none;
}

.social-links-home{
	margin-left: 50px;
}

.social-links-home li{
	display: inline-block;
	text-align: center

}

.social-links-home li a{
	margin-top: 10px;
	display: inline-block;
	width: 45px;
	height: 45px;
	border: 4px solid #444444;
	font-size: 20px;
	line-height: 50px;
	background-color: #ececec;
	margin-left: 30px;
}
.social-links-home li a:hover{
	color: #fff;
	background-color: #d7d7d7;
}

.social-links-home li a:link{
	color: black;
	text-decoration: none;
}

.social-links-home li a:visited{
	color: black;
	text-decoration: none;
}


#footer {
	background-color:#444444;
	color:white;
	clear:both;
	text-align:center;
	padding:5px;
}
